<a href="https://colab.research.google.com/github/Sourav-Manik/Python_for_Data_Science/blob/main/Anova_and_Chisquare.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Anova

In [3]:
# Load libraries
from sklearn import datasets
import pandas as pd
# Load digits dataset
iris = datasets.load_iris()

In [5]:
df = pd.DataFrame(iris.data)
df.head()

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

In [6]:
import scipy.stats as stats
stats.f_oneway(df.iloc[:,0], df.iloc[:,1],df.iloc[:,2])

F_onewayResult(statistic=236.75163298404746, pvalue=7.657188374182084e-71)